<div class="recipe-search-container">
  <div class="search-criteria-container">
    <mat-card class="search-criteria">
      <mat-card-title>Search for Recipes</mat-card-title>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label></mat-label>
            <input matInput #searchInput>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="searchForRecipes(searchInput.value)" class="search-button" [disabled]="!searchInput.value">
          Search
        </button>
      </mat-card-actions>
    </mat-card>
    <ng-container *ngIf="searchResults$ | async as results">
      <div class="results-header">Total Results: {{results.length}}</div>
      <div class="results-container">
        <div *ngFor="let result of results; let i = index">
          <mat-card *ngIf="i < resultsShown">
            <mat-card-title>{{result.title}}</mat-card-title>
            <mat-card-content>
              <img [src]="buildImageUrl(result.id)" [routerLink]="'/recipe/' + result.id" class="results-image"/>
            </mat-card-content>
            <mat-card-footer>
              {{result.readyInMinutes}} minutes
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
      <div class="load-more-container">
        <button mat-raised-button color="primary" (click)="loadMore()" [disabled]="!canLoadMore(results.length)">
          Load More
        </button>
      </div>
    </ng-container>
  </div>
</div>
