<mat-toolbar color="primary" class="title-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
  <div class="title-container" [routerLink]="'/home'">
    Gluten-Free Meal Suggester
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a [routerLink]="'/'">item 1</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
