@import '~@angular/material/theming';
@include mat-core();

$meal-suggester-primary: mat-palette($mat-indigo);
$meal-suggester-accent: mat-palette($mat-pink, A200, A100, A400);

$meal-suggester-warn: mat-palette($mat-red);

$meal-suggester-theme: mat-light-theme($meal-suggester-primary, $meal-suggester-accent, $meal-suggester-warn);

@include angular-material-theme($meal-suggester-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  cursor: pointer;
  text-decoration: none;
  padding: 2px;
  color: black;
}
a:visited {
  color: black;
}
